.item{
    width: 350px;
     
}

.item p{
    margin: 6px 0px;
    color: #091c3b;
    font-size: large;
}


.price-item{
    display: flex;
    gap: 8px;

}

.item-price-new{
   color: #39547f;
   font-size: 18px;
   font-weight: 600;
}

.item-price-old{
    color: #374151;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
 }

 .item:hover{
    transform: scale(1.05);
    transition: 0.6s;
 }

 .btn {
    background-color: #141313;
    color: white;
    border: none;
    padding: 5px 5px; /* Reduced padding */
    font-size: 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 80px;
    transition: background-color 0.3s ease;
    min-width: 20px; /* Explicit smaller width */
    text-align: center;
}

.btn:hover {
    background-color: #543c38;
}

.btn:focus {
    outline: none;
}
